.recharger {
    font-size: 1rem;
    border: 2px solid #dcdde1;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s;
    padding: 12px 16px;
    cursor: pointer;
}

.recharger:hover {
    transition: ease-out 2ms;
    transform: scale(105%);
    border-color: #0a6e31;
}
